extends layout

block content

    script(src='/javascripts/jquery.noty.js')
    script(src='/javascripts/top.js')
    script(src='/javascripts/topLeft.js')
    script(src='/javascripts/topRight.js')
    script(src='/javascripts/default.js')
    

    h1= 'screenshots'
    
   

    a(href="/")!= "Return To App Users"
