extends layout

block content
    script(type='text/javascript', src='/javascripts/jquery.noty.js')
    script(type='text/javascript', src='/javascripts/top.js')
    script(type='text/javascript', src='/javascripts/topLeft.js')
    script(type='text/javascript', src='/javascripts/topRight.js')
    script(type='text/javascript', src='/javascripts/default.js')
    
    script(type='text/javascript', src='/javascripts/setUpSS.js')
    h1= title
    #ScreenCompares
        - for (var x = 0; x < images.length; x+=2)
          div.screen
               img(src="/"+images[x].filename+"", alt="Local")
               img(src="/"+images[x+1].filename+"", alt="Production")
        
            
            

    .block                
        a(href="/")!= "Return to App Index"
   
    
