extends layout

block content
    h1= 'Welcome to the WorldNow Automated Testing'
        

    .block                
        a(href="/automated/testing?_id=5208fac83c91ee912b000001")!= "Test as on the QA Group Account"
    .block
        a(href="/automated/testing?_id=5208fae33c91ee912b000002")!= "Test as the Bamboo or Git User Agent"
    .block
        a(href="/screenshots/index")!= "View Screen shot batches"
    
